In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\v prasanthi\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\v prasanthi\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\v prasanthi\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\v prasanthi\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\v prasanthi\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\v prasanthi\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to C:\Users\v
[nltk_data]     prasanthi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
import pandas as pd

In [5]:
dt = pd.read_csv("SPAM2.csv", encoding = 'Windows-1252')

In [6]:
import chardet
with open("SPAM2.csv",'rb')as rawdata:
  result= chardet.detect(rawdata.read(100000))
  result

In [7]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
dt['spam'] = dt['type'].map({'spam': 1 , 'ham' : 0}).astype(int)

In [9]:
dt.head(4)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0

In [10]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116

In [11]:
dt['text'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [12]:
def tokenizer(text):
  return text.split()

In [13]:
dt['text'] = dt['text'].apply(tokenizer)

In [14]:
dt['text'][2]

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [15]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english",ignore_stopwords =False)

In [16]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [17]:
dt['text'] = dt['text'].apply(stem_it)

In [18]:
dt['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [19]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [20]:
def lemmit_it(text):
  return [lemmatizer.lemmatize(word,pos ='a') for word in text]

In [21]:
dt['text'] = dt['text'].apply(lemmit_it)

In [22]:
dt['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [23]:
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words("english")

[nltk_data] Downloading package stopwords to C:\Users\v
[nltk_data]     prasanthi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [24]:
def stop_it(text):
  review = [word for word in text if not word in stop_words]
  return review

In [25]:
dt['text'] = dt['text'].apply(stop_it)

In [26]:
dt['text'][2]

['free',
 'entri',
 '2',
 'wkli',
 'comp',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 '87121',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [27]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()

In [37]:

y = dt.spam.values
x = tfidf.fit_transform(dt['text'])

In [ ]:
dt.head()

In [30]:
dt['text']=  dt['text'].apply(''.join)

In [31]:
dt.head()

   type                                               text  spam
0   ham  gojurongpoint,crazy..availonlibugingreatworldl...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentri2wklicompwinfacupfinaltkts21stmay2005...     1
3   ham                  udunsayearlihor...ucalreadisay...     0
4   ham                    nahthinkgoeusf,livearoundthough     0

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [33]:
x

<116x367 sparse matrix of type '<class 'numpy.float64'>'
	with 383 stored elements in Compressed Sparse Row format>

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_text ,y_train,y_text= train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [35]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [36]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred,y_text)*100
print("Accuracy :",acc_log)

Accuracy : 87.5